<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/homestyle.css">
    <link rel="icon" type="image/jpg" href="/shopnow.jpeg">
    <title>Home Page</title>
</head>

<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a class="logo">ShopNow</a>
            <a href="/userregister">Register</a>
            <a href="/userlogin">Login</a>
            <a href="/productcollection" target="_blank">Products</a>
            <a href="#sections">Services</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="/homepage" class="active">Home</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>
    <div id="navbar">
        <div class="slide-menu">
            <a class="logo">ShopNow</a>
            <a href="/userregister">Register</a>
            <a href="/userlogin">login</a>
            <a href="#sections">Services</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="/homepage" class="active">Home</a>
        </div>
    </div>



    <!--MAIN-->
    <div class="main">
        <table>
            <tr>
                <td>
                    <section>
                        <h5 class="sub-title">Welcome To Ecommerce Store ShopNow</h5>
                        <h1 class="title">DISCOVER AMAZING PRODUCTS fOR YOUR SHOPPING NEEDS</h1>
                        <p>Explore our wide range of products and find everything you need for a great shopping experience. From electronics to fashion, home goods, and more, we've got you covered.</p>
                        <a href="#sections" class="btn1">Explore More</a>
                    </section>
                </td>
                <td>
                    <img src="/homeimages/img5-removebg-preview.png" class="inline-photo show-on-scroll" alt="INFERNO">
                </td>
            </tr>
        </table>
    </div>


    <!--CARDS-->
    <section class="section0" id="sections">
        <div class="card banner">
            <h1 class="title">Our Featured Services</h1>
            <h5 class="sub-title">Discover Our Top Services for Your Business</h5>
        </div>

        <div class="card inline-photo show-on-scroll">
            <i class="fa fa-thumbs-up"></i>
            <h3>User-Friendly Navigation</h3>
        </div>
        <div class="card inline-photo show-on-scroll">
            <i class="fa fa-line-chart"></i>
            <h3>Home Delivery Services</h3>
        </div>
        <div class="card inline-photo show-on-scroll">
            <i class="fa fa-users"></i>
            <h3>Order Placement</h3>
        </div>
        <div class="card inline-photo show-on-scroll">
            <i class="fa fa-phone"></i>
            <h3>Order Tracking</h3>
        </div>
    </section>


    <!--CONTAINER-->
    <div class="container" id="about">
        <table>
            <tr>
                <td>
                    <img src="/homeimages/img6-removebg-preview.png" class="inline-photo show-on-scroll" style="margin-left: 45%; height: 400px;" alt="About Us">
                </td>
                <td>
                    <h6 class="sub-title">Discover Our Ecommerce Platform</h6>
                    <h1 class="title">Your Ultimate Destination for Online Shopping</h1>
                    <p>Welcome to our ecommerce platform, where you can explore a wide range of products from the comfort of your home. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Start browsing now and discover a world of convenience and choice. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#moreaboutus" class="btn2">Discover More</a>
                </td>
            </tr>
        </table>
    </div>



    <section class="slick" id="moreaboutus">
        <div class="banner">
            <h1 class="title">How You Can Benifit </h1>
            <h5 class="sub-title">Bringing New IT Business solutions and ideas</h5>
        </div>
        <table>
            <tr>
                <td>
                    <ul>
                        <li>
                            <h3>Wide Product Discovery</h3>
                            <p>Explore a vast range of products tailored to your preferences and needs.</p>
                        </li>
                        <li>
                            <h3>Efficient Shopping Experience</h3>
                            <p>Enjoy a seamless shopping journey with intuitive navigation and easy checkout.</p>
                        </li>
                        <li>
                            <h3>Secure Payment Processing</h3>
                            <p>Shop with confidence knowing that your transactions are secure and protected.</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="card inline-photo show-on-scroll">
                        <div class="card_part card_part-one">
                        </div>

                        <!-- Photo 2 -->
                        <div class="card_part card_part-two">
                        </div>

                        <!-- Photo 3 -->
                        <div class="card_part card_part-three">
                        </div>

                        <!-- Photo 4 -->
                        <div class="card_part card_part-four">
                        </div>
                    </div>
                </td>
                <td>
                    <ul>
                        <li>
                            <h3>Responsive Customer Support</h3>
                            <p>Get assistance from our dedicated support team whenever you need help.</p>
                        </li>
                        <li>
                            <h3>Regular Updates and Promotions</h3>
                            <p>Stay informed about the latest products, deals, and promotions through regular updates.</p>
                        </li>
                        <li>
                            <h3>Convenient Delivery Options</h3>
                            <p>Choose from various delivery options to get your purchases delivered at your convenience.</p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </section>





    <section class="section1" id="contact">
        <div class="banner">
            <h1 class="title">Contact Us</h1>
        </div>
        <form class="accordion">
            <input type="text" style="width: 100%; border: none; background-color: #e3e3e3;">
        </form>
    </section>



    <!--FOOTER-->
    <footer>
        <div class="footer">
            <section>
                <h1 class="logo" style="color: white;">ShopNow</h1>
                <p>
                    <p>Explore our wide range of products and find everything you need for a great shopping experience. From electronics to fashion, home goods, and more, we've got you covered.</p>
                </p>
            </section>

            <section>
                <p class="title">OTHER LINKS</p>
                <p><a href="#">Ticket</a></p>
                <p><a href="#">Terms & Conditions</a></p>
                <p><a href="#">Cookie Policy</a></p>
                <p><a href="#">Privacy Policy</a></p>
            </section>

            <section>
                <p class="title">SHORT CUT</p>
                <p><a href="https://codepen.io/MAHESHBYL/details/mdOmWZG">Contact Us</a></p>
                <p><a href="#">Services</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Our Fields</a></p>
            </section>

            <section>
                <p class="title">News Letter</p>
                <p><a title="Address, Country, Pincode"><i class="fa fa-map-marker"></i></a> <a href="#"><i class="fa fa-phone"></i></a> <a href="#"><i class="fa fa-envelope"></i></a></p>
            </section>
        </div>
        <div class="sub-footer">
            Copyright © 2024 ShopNow, All Right Reserved || Backendproject
        </div>
    </footer>


    <a href="#" id="scroll-up"><i class="fa fa-angle-up"></i></a>
    </div>

    <!--JAVASCRIPT-->
    <script src="../javascripts/custom.js"></script>
</body>

</html>