<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Entry</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="icon" type="image/jpg" href="/shopnow.jpeg">
    <title>Reset Password Page</title>
</head>

<body style="height: 100vh; display: flex; align-items: center; justify-content: center; background-color: white;overflow: hidden;">
    <div class="loginregisterdiv"></div>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Reset Password</h2>
            </div>
            <% if (messages.error) { %>
                <div class="alert alert-warning" role="alert">
                    <%= messages.error %>
                </div>
                <% } %>
                    <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= messages.success %>
                        </div>
                        <% } %>
                            <div class="row clearfix">
                                <div class="">
                                    <form action="/changepassword/<%= token %>" method="post">
                                        <label for="changepass">New Password</label>
                                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                                            <input type="password" name="changepassword" placeholder="Enter New Password" required />
                                        </div>
                                        <label for="confirmpass">confirm Password</label>
                                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                            <input type="password" name="confirmpassword" placeholder="Re-Enter Password" required />
                                        </div>
                                        <input class="button" type="submit" value="Update Password" />
                                    </form>
                                </div>
                            </div>
        </div>
    </div>
</body>

</html>