<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="icon" type="image/jpg" href="/shopnow.jpeg">
    <title>User Login Page</title>
</head>

<body style="height: 100vh; display: flex; align-items: center; justify-content: center; background-color: white; overflow: hidden;">
    <div class="loginregisterdiv"></div>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>User Login</h2>
            </div>
            <% if (messages.error) { %>
                <div class="alert alert-warning" role="alert">
                    <%= messages.error %>
                </div>
                <% } %>
                    <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= messages.success %>
                        </div>
                        <% } %>
                            <div class="row clearfix">
                                <div class="">
                                    <form action="/loginuser" method="post">
                                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                                            <input type="email" name="email" placeholder="Enter Email" required />
                                        </div>
                                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                            <input type="password" name="password" placeholder="Enter Password" required />
                                        </div>
                                        <input class="button" type="submit" value="Login" />
                                        <a class="anchor-tag" href="/forgotpassword">Forget password</a> or
                                        <a class="anchor-tag" href="/userregister">SignUp</a>
                                    </form>
                                </div>
                            </div>
        </div>
    </div>
</body>

</html>